{{ .Name }} - {{ .Version }}
    {{ .Description }}

AUTHOR:
    {{range .Authors}}{{.Name}} 
    {{end}}
COMMANDS:
    {{range .Commands }}{{.Name}}: {{range .Aliases}}{{.}} {{end}}
        {{.Description}} 
    {{ end }}