{{ .Name }} {{ .Version }}
    {{ .Description }}

AUTHORS:
    {{range .Authors}}{{.Name}} 
        {{range .ContactInfo}}{{.Medium}} - {{.Value}}
        {{end}}{{end}}
COMMANDS:
    {{range .Commands }}{{.Name}}: {{range .Aliases}}{{.}} {{end}}
        {{.Description}} 
    {{ end }}